<div class="course-panel">
  <h2>{{ course?.description }}</h2>
  <img [src]="course?.iconUrl" class="course-thumbnail" />

  <div class="spinner-container" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <table
    mat-table
    matSort 
    matSortDisableClear 
    matSortActive="seqNo"
    matSortDirection="asc" 
    multiTemplateDataRows 
    [dataSource]="lessons"
    class="course-lessons-table mat-elevation-z8"
  >
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox [checked]="selection.hasValue() &&  isAllSelected()" (change)="onToggleAll()" [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let lesson" (click)="$event.stopPropagation()">
        <mat-checkbox (change)="onLessonToggled(lesson)" [checked]="selection.isSelected(lesson)">
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="seqNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
      <td mat-cell *matCellDef="let lesson">{{ lesson.seqNo }}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let lesson">{{ lesson.description }}</td>
    </ng-container>
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>Duration</th>
      <td mat-cell *matCellDef="let lesson">{{ lesson.duration }}</td>
    </ng-container>
    <ng-container matColumnDef="expandedDetails">
      <td mat-cell *matCellDef="let lesson" colspan="3">{{ lesson.longDescription }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let lesson; columns: displayedColumns" (click)="onToggleLesson(lesson)"></tr>
    <tr mat-row *matRowDef="let lesson; columns: ['expandedDetails']" [class.course-details]="expandedLesson != lesson"></tr>
  </table>

  <mat-paginator class="mat-elevation-z8"
    [length]="course?.lessonsCount"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
