<div class="courses-panel">
  <div class="header">
    <h2>All Courses</h2>
    <button
      mat-mini-fab
      class="add-course-btn"
      routerLink="/create-course"
      matTooltip="Click here to add a new course."
      matTooltipPosition="right"
      [matTooltipShowDelay]="1000"
      [matTooltipHideDelay]="2000"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-tab-group mat-stretch-tabs="false">
    <mat-tab label="Beginners">
      <app-course-card-list [courses]="beginnerCourses$ | async">
      </app-course-card-list>
    </mat-tab>
    <mat-tab label="Advanced">
      <app-course-card-list [courses]="advancedCourses$ | async">
      </app-course-card-list>
    </mat-tab>
  </mat-tab-group>
</div>
